/* google font poppins added */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;

}

/* ----------------
Section 1 Joy Bangla Football Tournament Part 
--------------------------1*/
.top-most {
    display: flex;
    justify-content: space-evenly;
    background-color: #2d25a0;
    padding-bottom: 40px;
  }
  .top-left {
    align-items: center;
  }
  .top-left h1 {
    width: 485px;
    font-weight: 700;
    line-height: 80px;
    font-size: 64px;
    margin-left: 156px;
    margin-top: 100px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  .top-left a {
    text-decoration: none;
    color: white;
    padding: 10px 24px;
    background-color: #e02c6d;
    margin-left: 156px;
  }
  .top-right img {
     margin-top: 45px; 
    margin-right: 60px;
    width: 556px;
    height: 438px;
  }
   /* mouse transiction part*/
  .top-right:hover img {
    transform: scale(1.5) rotate(30deg);
    transition: transform 2s ease;
  }

/*----------------------
Section 2 Present Top Players
----------------------------*/
.player-album {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 40px 100px;
  grid-gap: 30px;
}
.player-frame {
  box-shadow: 10px 10px 50px gray;
}
.player-photo img {
  width: 300px;
  height: 256px;
  margin: 15px;
}
.player-details {
  margin: 15px;
}
.player-details p {
  color: #6c6c6c;
}

/*---------------------
footer part is here
--------------*/

footer {
    text-align: center;
  }
  .footer-logo img {
    width: 484px;
    height: 110px;
  }
  .footer-icons {
    padding-bottom: 20px;
  }
  .footer-icons img {
    width: 32px;
    height: 32px;
  }
  .copyright {
    padding-bottom: 40px;
  }
  #copy-icon:after {
    content: "\00a9";
  }
  .header-right:hover img {
    transform: scale(1.2) rotate(360deg);
    transition: transform 2s ease;
  }
