/* google font poppins added */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;

}

/* ----------------
Section 1 Joy Bangla Football Tournament Part 
--------------------------1*/
.top-most {
    display: flex;
    justify-content: space-evenly;
    background-color: #2d25a0;
    padding-bottom: 40px;
  }
  .top-left {
    align-items: center;
  }
  .top-left h1 {
    width: 485px;
    font-weight: 700;
    line-height: 80px;
    font-size: 64px;
    margin-left: 156px;
    margin-top: 100px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  .top-left a {
    text-decoration: none;
    color: white;
    padding: 10px 24px;
    background-color: #e02c6d;
    margin-left: 156px;
  }
  .top-right img {
     margin-top: 45px; 
    margin-right: 60px;
    width: 556px;
    height: 438px;
  }
   /* mouse transiction part*/
  .top-right:hover img {
    transform: scale(1.5) rotate(30deg);
    transition: transform 2s ease;
  }

/*----------------------
Section 2 Present Top Players
----------------------------*/
.player-album {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 40px 100px;
  grid-gap: 30px;
}
.player-frame {
  box-shadow: 10px 10px 50px gray;
}
.player-photo img {
  width: 300px;
  height: 256px;
  margin: 15px;
}
.player-details {
  margin: 15px;
}
.player-details p {
  color: #6c6c6c;
}

/*---------------------
footer part is here
--------------*/

footer {
    text-align: center;
  }
  .footer-logo img {
    width: 484px;
    height: 110px;
  }
  .footer-icons {
    padding-bottom: 20px;
  }
  .footer-icons img {
    width: 32px;
    height: 32px;
  }
  .copyright {
    padding-bottom: 40px;
  }
  #copy-icon:after {
    content: "\00a9";
  }
  .header-right:hover img {
    transform: scale(1.2) rotate(360deg);
    transition: transform 2s ease;
  }

  /*-------------------------
  Legendary BD Football Player
  ---------------*/

  .legend-players {
    background-color: rgb(78, 139, 219);
    }
    .section-title {
    text-align: center;
    padding: 40px 0;
    }
    .top-legends {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    }
    .all-legends {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    }
    .legend {
    display: flex;
    align-items: center;
    padding: 0 10px 20px;
    }
    .legend img {
    width: 56px;
    height: 56px;
    border-radius: 30%;
    }

    .player-name {
    margin-left: 16px;
    font-size: 18px;
    }


    /*--------------------------------
    responsibe for mobile 
    -----------------------*/
@media only screen and (max-width: 688px) {
  .top-most {
    width: 100%;
    flex-direction: column;
  }
  .top-left {
    justify-content: center;
  }
  .top-left h1 {
    width: 350px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 50px;
  }
  .top-left a {
    text-align: left;
  }
  .top-right img {
    margin-top: 40px;
    width: 80%;
    height: 80%;
  }
  .all-legends {
    grid-template-columns: repeat(1, 1fr);
  }
  .all-tournaments {
    grid-template-columns: repeat(1, 1fr);
    margin: 10px 80px;
  }
  .player-album {
    grid-template-columns: repeat(1, 1fr);
    margin: 20px 10px;
  }
  .player-details {
    margin: 15px;
  }
  
  .legend {
    flex-direction: column;
  }
  .footer-logo img {
    width: 80%;
    height: 80%;
  }
}

